
.rounded {

    -fx-border-color: dodgerblue;

    -fx-border-width: 2px;

    -fx-border-radius: 15px;

    -fx-padding: 20px;

}

#hiddenSplitter {


}

#hiddenSplitter *.split-pane-divider, #hiddenSplitter *.horizontal-grabber {

    -fx-background-color: transparent;

    -fx-border-color: transparent;
    -fx-padding: 0 0 0 0; 
    


}
#hiddenSplitter *.vertical-grabber
{

    -fx-background-color: transparent;

    -fx-border-color: transparent;
    -fx-padding: 0 0.75em 0 0.75em; 

}